
<h1>ngx-markdown-it@{{ ngxMarkdownItVersion }} (angular@{{ angularVersion }})</h1>

<h2>Component using Content projection</h2>

<markdown-it ngPreserveWhitespaces>
# a header

Some text

## a second level header

+ a list element
+ another list element
- a sublist element

</markdown-it>

<h2>Component using content from text area</h2>

<div class="demo-container">
  <textarea class="xpand-textarea" [(ngModel)]="markdown"></textarea>
  <markdown-it #ngxMarkdownIt class="markdown-from-textarea" (ready)="markdownReady()" [markdown]="markdown"></markdown-it>
</div>
